<%- include("partials/header") %>

<div class="container p-3 bg-secondary text-white">
    <h1>Welcome to Travel Site</h1>
    <a class="btn btn-info m-2" href="/new">Go to the form</a>
</div>

<%- include("partials/footer") %>